@charset "UTF-8";
.big-table {
  position: relative;
  display: inline-block;
  overflow: auto;
  zoom: 1;
  font-size: 0;
  user-select: none;
  cursor: cell; }

.big-table .fir-col {
  display: inline-block;
  background: #f1f1f1;
  border-left: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC; }

.big-table .fir-col.fixed {
  z-index: 3;
  box-shadow: 1px 1px 10px #CCCCCC; }

.big-table .table-wrapper {
  position: relative;
  overflow: auto;
  border: 1px solid #CCCCCC;
  display: inline-block;
  font-size: 14px; }

.big-table .table-wrapper.head-wrapper {
  overflow: hidden;
  border-top: none;
  border-bottom: none;
  background: #f1f1f1;
  z-index: 2; }

.big-table .table-wrapper.row-wrapper.top-fixed {
  box-shadow: 1px 1px 10px #CCCCCC; }

.big-table .table-wrapper.col-wrapper {
  border: none;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC; }

.big-table .table-wrapper.col-wrapper.left-fixed {
  box-shadow: 1px 1px 10px #CCCCCC; }

.big-table .table-wrapper.col-wrapper .hs-th {
  box-sizing: border-box;
  height: 25px;
  border-bottom: 1px solid #CCCCCC;
  padding: 1px 5px;
  overflow: hidden;
  outline-width: 0;
  white-space: pre-line; }

.big-table .table-wrapper.body-wrapper {
  background: #fff; }

.big-table .table-inner {
  position: relative; }

.big-table .hs-table {
  position: absolute;
  border-collapse: collapse;
  overflow: scroll;
  table-layout: fixed;
  /*宽度由col决定的关键*/ }

.big-table .hs-table .hs-row-head .hs-row {
  overflow: auto;
  cursor: s-resize; }

.big-table .hs-table .hs-row-head .hs-row .hs-th {
  height: 25px;
  padding: 1px 5px;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC; }

.big-table .hs-table .hs-row-head .hs-row .hs-th.is-active {
  background: #DCDCDC; }

.big-table .hs-table .hs-row-head .hs-row .hs-th:first-child {
  border-left: none; }

.big-table .hs-table .hs-col-head {
  cursor: e-resize; }

.big-table .hs-table .hs-col-head .hs-th {
  width: 100px;
  padding: 1px 5px; }

.big-table .hs-table .hs-col-head .hs-th.is-active {
  background: #DCDCDC; }

.big-table .hs-table .hs-body .hs-tr .hs-td {
  box-sizing: border-box;
  height: 25px;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding: 1px 5px;
  overflow: hidden;
  outline-width: 0;
  white-space: pre-line; }

.big-table .hs-table .hs-body .hs-tr .hs-td:last-child {
  border-right: none; }

.big-table .hs-table .hs-body .hs-tr .hs-td.is-active {
  background: #E8F0FF; }

.big-table .content-menu-bar {
  position: absolute;
  width: 160px;
  padding: 4px 0;
  border-top: 1px solid #B6B6B7;
  border-right: 1px solid #A3A4A5;
  border-bottom: 1px solid #BEBEBE;
  border-left: 1px solid #C9CACA;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #aaa;
  background: #F0F0F0;
  cursor: default;
  font-size: 14px;
  z-index: 100; }

.big-table .content-menu-bar .content-menu-btn {
  display: block;
  padding: 2px 15px;
  color: black;
  text-decoration: none;
  transition: none; }

.big-table .content-menu-bar .content-menu-btn:hover {
  background: #3E93F9;
  color: white; }

.big-table .content-menu-bar .content-menu-btn-group {
  margin: 4px 0;
  padding-top: 4px;
  border-top: 2px solid #D8DDDF; }

.big-table .content-menu-bar .content-menu-btn-group:first-child {
  margin: 0;
  padding: 0;
  border-top: none; }

.big-table .content-menu-bar .content-menu-btn-group:last-child {
  padding-bottom: 0;
  margin-bottom: 0; }

.big-table .selected-area {
  position: absolute;
  z-index: 99; }

.big-table .selected-area .selected-border {
  position: absolute; }

.big-table .selected-area .selected-top-area {
  height: 1px;
  background: #2593FC; }

.big-table .selected-area .selected-right-area {
  top: 1px;
  width: 1px;
  background: #2593FC; }

.big-table .selected-area .selected-bottom-area {
  height: 1px;
  background: #2593FC; }

.big-table .selected-area .selected-left-area {
  top: 1px;
  width: 1px;
  background: #2593FC; }
