body {
  background: #F3F3F3; }

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  height: 50px;
  line-height: 50px;
  background: #DF4D49;
  text-align: center; }

.nav h1 {
  color: #f1f1f1; }

.nav .nav-panel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px; }

.nav .nav-panel .item {
  padding: 15px;
  color: white;
  text-decoration: none; }

.nav .nav-panel .item.active {
  background: #D0423F; }

.content {
  padding-top: 50px;
  background: white; }
