$navHeight: 50px;
body {
  background: #F3F3F3;
}
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  height: $navHeight;
  line-height: $navHeight;
  background: #DF4D49;
  text-align: center;
  h1 {
    color: #f1f1f1;
  }
  .nav-panel {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    .item {
      padding: 15px;
      color: white;
      text-decoration: none;
      &.active {
        background: #D0423F;
      }
    }
  }
}
.content {
  padding-top: 50px;
}